@import url(12bool.css);


/*---------------------------
    BOX STYLE
----------------------------- */
.box{
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}
    

.box-blue{
    background-color: #006cfa;
}
.box-green{
    background-color: #00e165;
    border: 1px solid #006cfa;
    font-size: 14px;
}
section{
    margin: 10px 0;
}
.h-40{
    height: 40px;
}